*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  position: relative;
  width: 100%;
  height:100vh;
  background: #eff4fd;

}
nav{


ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
  display: flex;
  width:150;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>

<h2>Navigation Menu</h2>
<p>In this example, we use CSS to style the list horizontally, to create a navigation menu:</p>

<ul>
